    body {
        width: 100vw;
        height: 100vh;
        background-image: url('./hueco mundo.jpg');
        background-size: 100%;
        background-repeat: repeat;
        color: rgb(255, 255, 255);
        font-family: "Bai Jamjuree", sans-serif;
        align-items: center;
        height: 700px;
        margin: 0;
    }


    button {
        background-color: rgb(255, 255, 255);
        font-family: "Bai Jamjuree", sans-serif;

    }

    .passo {
        display: none;
    }

    .passo.ativo {
        display: block;
    }

    main {
        text-align: center;
        max-width: 90%;
    }

    img {
        max-width: 90%;
    }